<header>
  <nav class="nav-zoom">
    <div class="nav-inner">
      <div id="nvtitle" class="navsect">Emil Daniel Slabý</div>
      <div id="nv1" class="navsect">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="projects.html">Projects</a>
      </div>
      <div id="nv3" class="navsect">
        <i class="fa-regular fa-envelope"></i>
        <a
          class="fa-brands fa-github"
          href="https://github.com/Emil-D-S?tab=repositories"
        ></a>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </nav>
</header>
